*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90svh;
}

h2 {
  padding: 1rem 0;
}

button,
.grid-size-btn {
  align-self: flex-start;
  height: 30px;
  padding: 4px;
  width: 100%;
}

.page-wrapper {
  min-width: 80%;
  display: flex;
  justify-content: center;
  gap: 4rem;
  border: 1px solid red;

}

.settings {
  border: 1px solid red;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex: 1;
}

.grid {
  background-color: rgb(208, 208, 208);
  flex-grow: 1;
  flex-shrink: 1;
  border: 1px solid black;
  user-select: none;
}

.grid:hover:not(.draw) {
  background-color: rgb(158, 158, 158);
  z-index: 1;
}

.draw {
  background-color: black;
  z-index: 500;
}